.header{
    background-color: rgba(0, 0, 0, 0.781);
    justify-content: center;
    height: 10%;
}

h1{
    color: white;
    padding-left: 1rem;
    font-size: 1.4rem;
}

img{
    height: 3rem;
}

span{
    display: flex;
    align-items: center;
}